<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{portfolio.ModelName}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f18602a097.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
	<div class="container mt-4">
		<div class="card">
			<div class="card-body row">
				<div class="col-2">
					<img class="card-img" style="border: 1px solid #222;" src="{{portfolio.ImageURL}}" width="100%" height="auto" />			
				</div>
				<div class="col-10">
					<h5>{{portfolio.ModelName}}</h5>
					<div>
						<small>{{portfolio.Description}}</small>
					</div>
					<div class="badge bg-success">{{portfolio.RiskCategory}}</div>
					<div class="d-flex justify-content-between">
						<div>
							<small>1 Yr Return - </small>
							<small>{{portfolio.AnnualisedReturn}}</small>
							<small>Min. Investment Amount - </small>
							<small class="fw-bold">{{portfolio.MinInvestAmt}}</small>
						</div>
						<div>
							<small>Benchmark - </small>
							<small class="fw-bold">{{portfolio.BenchmarkReturn}}</small>
						</div>
						<div>
							<small>No. of Stocks - </small>
							<small class="fw-bold">{{portfolio.MinSIPAmt}}</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="description_section">
			<div class="mt-4">
				<h5 class="mb-0 fw-bold">Overview</h5>
				<hr style="height: 2px;" class="mt-2" />
				<div class="row">
					<div class="col-9">
						<div class="row">
							<div class="col-8"></div>
							<div class="col-4">
								<small class="d-block fw-bold">Factsheet</small>
								<small class="d-block fw-bold">Download key points about this IAP</small>
								<button class="btn btn-lg mt-2 btn-outline-dark">Download Factsheet</button>
							</div>
						</div>
					</div>
					<div class="col-3">
						<button class="btn btn-dark" style="width: 100%">
							Invest Now
						</button>
						<small class="text-center">Already Invested? Login to
							Top Up</small>
					</div>
				</div>
			</div>
		</div>
	</div>	
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
</body>
</html>