<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f18602a097.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/testing.css" />
  </head>
  <body>
    <div class="">
      <header class="Header__header__1qRCL">
        <div class="Header__header-container__2v8Mg app-container">
          <div class="Header__header-left__1nDkK">
            <a class="Header__link-logo__2eERP" href="/"
              ><img
                src="https://assets.smallcase.com/images/publishers/azh-Consultants/logo.png"
                class="Header__logo__2jKwz"
                alt="AZH Consultants LLP"
            /></a>
          </div>
          <div class="Header__header-right__3MaaF">
            <p class="link font-medium ml8 flex">
              See FAQs<span class="Display__web__HdJg1"
                ><i class="Header__arrow__1XukL icon-chevron-right"></i
              ></span>
            </p>
            <span class="Display__web__HdJg1">Have any questions?</span>
          </div>
        </div>
      </header>
      <div class="Hero__head-content-container__1JJFw app-container">
        <div class="Hero__head-content-img-holder__2jhLe">
          <div class="Hero__image-container__2m6Ec">
            <img
              src="assets/images/hero-img.png"
              class="Hero__head-content-img__2WPUU"
              alt=""
            />
          </div>
        </div>
        <div class="Hero__head-content-title-holder__3l0cG">
          <h1 class="Hero__head-content-title__11NgI mt8 font-semibold">
            Built on a Legacy, Aesearch, Observation and Knowledge
          </h1>
          <div class="Hero__head-content-desc__tSe3O text-18">
            <p>
              NS Investment Portfolios are research-backed thematic baskets
              designed to provide professional competency while retaining the
              flexibility of direct ownership of stocks, for long-term wealth
              creation.
            </p>
          </div>
        </div>
      </div>
      <div class="ListView__list__1eAMS">
        <div class="ListView__head__11oAg mb32">
          <h2 class="ListView__header__2l7Gs display mb32">
            Pick Your NS Advisory Portfolio
          </h2>
        </div>
        <div class="ListView__content__v-pde">
          {{#each pfs}}
          <div class="relative mb24 full-width-on-mobile">
            <div class="CardView__riskContainer__RKXM9">
              <div class="Risk__label-risk-container__1MNl2 Risk__high__mTNQe">
                <span class="Risk__label-risk__title__3hrJs font-medium text-12"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                >
              </div>
            </div>
            <div
              class="CardView__container__3PIVt"
              style="
                user-select: none;
                {{!-- height: 177px; --}}
                height: min-content;
                min-width: min-content;
                transition: height 0.3s ease-out 0s;
              "
            >
              <div class="card-container relative">
                <div class="CardView__card-details__2NrDe">
                  <div class="details-container">
                    <div class="NameHolder__name-container__1rnV8">
                      <img
                        class="
                          img
                          NameHolder__image-container-large__3aN46
                          img
                          NameHolder__image-desktop__22zbz
                        "
                        src="{{this.ImageURL}}"
                        style="font-size: 33.3333px"
                      />
                      <div>
                        <a
                          class="
                            link
                            NameHolder__desc-title__3tqmC
                            font-medium
                            ellipsi
                            text-16
                          "
                          href="/{{this.Id}}"
                          >{{this.ModelName}}</a
                        >
                        <p class="lh-157">{{this.Description}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="CardView__stat-container__2Pufe">
                    <div
                      class="Statbox__statbox__3rmgd Statistics__stats__3JzSp"
                    >
                      <div style="flex: 0 0 33%; text-align: left">
                        <div
                          class="Statbox__title__3RBy7 font-regular text-light"
                        >
                          1 Yr Return
                        </div>
                        <div
                          class="Statbox__value__2vZLj text-green font-medium"
                        >
                          {{this.BenchmarkReturn}}
                        </div>
                      </div>
                      <div style="flex: 0 0 33%; text-align: left">
                        <div
                          class="Statbox__title__3RBy7 font-regular text-light"
                        >
                          Min. Investment
                        </div>
                        <div
                          class="
                            Statbox__value__2vZLj
                            text-dark
                            font-medium
                            stat-value-text
                          "
                        >
                          ₹ {{this.MinInvestAmt}}
                        </div>
                      </div>
                      <div style="flex: 0 0 33%; text-align: left">
                        <div
                          class="Statbox__title__3RBy7 font-regular text-light"
                        >
                          Risk Profile
                        </div>
                        <div
                          class="
                            Statbox__value__2vZLj
                            font-medium
                            text-dark
                            stat-value-text
                          "
                        >
                          {{this.RiskCategory}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="CardView__action-holder__2BZvX">
                  <div class="CardView__btn-container__10y_V">
                    <button
                      class="
                        CardView__action-btn__2EVRv
                        btn btn-primary-green
                        full-width-on-mobile
                      "
                      type="button"
                    >
                      Invest Now
                    </button>
                    <div
                      class="
                        text-center
                        pointer
                        CardView__already-subscribed__3VaXD
                        text-13
                      "
                    >
                      <p class="text-13">
                        Already Invested?
                        <span class="link font-medium">Login to top up</span>
                      </p>
                    </div>
                  </div>
                  <a class="CardView__comp-btn__2Yhfm font-medium text-13 link"
                    >See past performance<i
                      class="icon-chevron-down CardView__icon-align__3IFYj"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
